.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
}
