<div class="container">
    <h1>Welcome to our restaurant</h1>
    <p>Enjoy our delicious food and drinks in a cozy and welcoming atmosphere.</p>
    
    <p>
        My name is Rai Chai. I'm the business owner and chef of my own Thai restaurant
        I love to cook my delicious food for people to try and see their reaction to it. 
    </p>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad 
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
    <div> aasdf asdf ad fasd fasd fasdf asdf asdf asdf
        aasdf asdf ad fasd fasd fasdf asdf asdf asdfaasdf a
        sdf ad fasd fasd fasdf asdf asdf asdfaasdf asdf ad
        fasd fasd fasdf asdf asdf asdfaasdf asdf ad fasd fas
    </div>
</div>